<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="robots" content="index, follow" />
        
        <title>ScriptureEngineIII</title>
        <link rel="shortcut icon" type="./static/images" href="favicon.ico"/>     

		<script src="./static/javascript/jquery.js"></script>
		
		<script>
			$( document ).ready(function() {
			});
		</script>
		<style media="screen" type="text/css">
		</style>
	</head>
    <body>
		<div id="PageOuterContainer">
		</div>
    </body>
</html>

